.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
}

section {
    border-radius: 1em;
    margin: 0 auto;
    padding: 1em;
}

.center {
    margin: 0 auto;
    justify-content: center;
}

body {
    text-align: center;
}
